@model dynamic
@using Humanizer

@{
    ViewData["Title"] = "What's happening?";
}

<header class="DateTime">
        <h1 id="time">&nbsp;</h1>
        <h1 id="date">&nbsp;</h1>
</header>
<section class="weather">
    <div class="currentForecast">
        <h2>
        @(Model.Forecast.CurrentTemperature)&deg; - 
        @(Model.Forecast.CurrentSummary)
        </h2>
        <img src="@Url.Content(Model.Forecast.CurrentIconPath)"/>    
        <h3>Feels like: @(Model.Forecast.CurrentFeelsLikeTemperature)&deg;</h3>
        <h3>@(Model.Forecast.MinutelySummary)</h3> 
        <p>
        <strong>Low:</strong>  @(Model.Forecast.Day[0].TempLow)
        <strong>High:</strong>  @(Model.Forecast.Day[0].TempHigh)
        </p> 
    </div>
    <div class="grid-container">
        @foreach (var hour in Model.Forecast.Hour)
        {
            <div class="grid-item">
                <div>@(hour.Time)</div>
                <img src="@hour.Icon" alt="Hour Icon" />                
                <div>@(hour.Temp)&deg;</div>
                <div>@(hour.Summary)</div>
            </div>
        }
        @for (int i = 1; i < Model.Forecast.Day.Count; i++)
        {
            <div class="grid-item">
                <div>@(Model.Forecast.Day[i].Day)</div>
                <img src="@Model.Forecast.Day[i].Icon" alt="Day Icon"/>
                <div>@(Model.Forecast.Day[i].Temp)&deg;</div>
                <div>@(Model.Forecast.Day[i].Summary)</div>
            </div>
        }
    </div>
</section>
<section class="busSchedule">
    <h2 onclick="refreshPage()">Bus Schedule</h2>
    <div class="busTime">        
        @foreach (var item in Model.Buses)
        {
            <h5>@(item.BusName) - @(item.Time)</h5>
        }
    </div>        
</section>
<section class="calendar-events">
    <h2>Upcoming events</h2>
    @foreach (var item in Model.Events)
    {            
        <section class="event">
            @if(item.isSameDate == false)
            {
                <p><strong>@(item.Date)</strong></p>
            }                
            <p><em>@(item.Time) - @(item.Summary)</em></p>
        </section>
    }
</section>
